<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.woyee.mapper.RoleMapper">

	<!-- 所有角色数量 -->
	<select id="showCount" resultType="int" parameterType="Role">
  		<![CDATA[
  			SELECT count(*) FROM T_ROLE
  		]]>
	</select>

	<!-- 查询角色-->
	<select id="showRoles" resultType="Role" parameterType="Role">
		<![CDATA[
		    select * from (select t.*,rownum AS rn from  (SELECT ROLE_ID roleid,
		    ROLE_NAME rolename FROM T_ROLE order by ROLE_ID ASC) t) where rn>#{spage} and rn<=#{epage}
		]]>
	</select>
	
</mapper>