@charset "utf-8";
.flow_steps {
	height: 30px;
	overflow: hidden;
}

.flow_steps li {
	margin-left: 2px;
	width: 16%;
	float: left;
	height: 30px;
	padding: 0 40px 0 30px;
	line-height: 30px;
	text-align: center;
	background: 100% 0 #E4E4E4;;
	font-weight: bold;
}

.flow_steps li.current {
	color: #fff;
	background-color: #1874CD;
}

.flow_steps li.last.current,.flow_steps li.last {
	background-image: none;
}

.autoNewline {
	table-layout:fixed;
	word-wrap:break-word;
}